
<!-- CONTACT -->
    <section id="contact">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-12">
                       <form id="contact-form" role="form" action="" method="post">
                            <div class="section-title">
                                 <h2>Contact Us</h2> <p>We love conversations, let us talk!</p>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                 <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                  
                                 <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                 <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                 <input type="submit" class="form-control" name="send message" value="Send Message">
                            </div>

                       </form>
                  </div>

                  <div class="col-md-6 col-sm-12">
                       <div class="contact-image">
                            <img src="assets/images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                       </div>
                  </div>

             </div>
        </div>
   </section>
 <!-- Start footer -->
 <footer id="mu-footer">
     <!-- start footer top -->
     <div class="mu-footer-top">
       <div class="container">
         <div class="mu-footer-top-area">
           <div class="row">
             <div class="col-lg-6 col-md-3 col-sm-3">
               <div class="mu-footer-widget">
                 <h4>News Letter</h4>
                 <p>Get latest update, news & academic offers</p>
                 <form class="mu-subscribe-form">
                   <input type="email" placeholder="Type your Email">
                   <br>
                   <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                 </form>               
               </div>
             </div>
             <div class="col-lg-6 col-md-3 col-sm-3">
               <div class="mu-footer-widget">
                 <h4>Contact</h4>
                 <address>
                   <p>Bangalore, Karnataka, India.</p>
                   <p>Phone: +91 807 227 0478 </p>
                   <p>Website: www.vecan.co</p>
                   <p>Email: san@vecan.co</p>
                 </address>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end footer top -->
     <!-- start footer bottom -->
     <div class="mu-footer-bottom">
       <div class="container">
         <div class="mu-footer-bottom-area">
             <p>&copy; All Right Reserved. Designed by <a href= "https://www.vecan.co"  style="color:#29ca8e">Vecan</a></p>
         </div>
       </div>
     </div>
     <!-- end footer bottom -->
   </footer>
   <!-- End footer -->
 
   
