

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
      <div class="container">
           <div class="navbar-header">
                <!-- lOGO TEXT HERE -->
                <a href="#" class="navbar-brand"><img alt="" src="assets/images/menubar.jpg" width=55 height=55></a>
           </div>

           <!-- MENU LINKS -->
           <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                 <li class="active"><a [routerLink]="['/home']">Home</a></li>
                 <li><a [routerLink]="['/about']">About Us</a></li>
                 <li><a [routerLink]="['/contact']">Contact</a></li>
                 <li><a [routerLink]="['/login']">Login</a></li>
            </ul>
       </div>

      </div>
 </section>

  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/images/slider-image2.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Welcome</h4>
        <span></span>
        <h2>We Will Help You To Learn</h2>
      </div>
    </div>

    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
 <!-- FEATURE -->
 <section id="feature">
  <div class="container">
       <div class="row">

            <div class="col-md-4 col-sm-4">
                 <div class="feature-thumb">
                  <span><i class="fa fa-bar-chart-o"></i></span>
                      <h3>Trending Courses</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus</p>
                 </div>
            </div>

            <div class="col-md-4 col-sm-4">
                 <div class="feature-thumb">
                  <span><i class="fa fa-certificate"></i></span>
                      <h3>Books & Library</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus</p>
                 </div>
            </div>

            <div class="col-md-4 col-sm-4">
                 <div class="feature-thumb">
                  <span><i class="fa fa-users"></i></span>
                      <h3>Certified Teachers</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                 </div>
            </div>

       </div>
  </div>
</section>
  

    <!-- Start features section -->
 <section id="mu-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-features-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Our Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
          </div>
          <!-- End Title -->
          <!-- Start features content -->
          <div class="mu-features-content">
            <div class="row">
              <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-book"></span>
                  <h4>Professional Courses</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-users"></span>
                  <h4>Expert Teachers</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-laptop"></span>
                  <h4>Online Learning</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End features content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features section -->

 
<!-- Start footer -->
<footer id="mu-footer">
  <!-- start footer top -->
  <div class="mu-footer-top">
    <div class="container">
      <div class="mu-footer-top-area">
        <div class="row">
          <div class="col-lg-6 col-md-3 col-sm-3">
            <div class="mu-footer-widget">
              <h4>News Letter</h4>
              <p>Get latest update, news & academic offers</p>
              <form class="mu-subscribe-form">
                <input type="email" placeholder="Type your Email">
                <br> 
                <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
              </form>               
            </div>
          </div>
          <div class="col-lg-6 col-md-3 col-sm-3">
            <div class="mu-footer-widget">
              <h4>Contact</h4>
              <address>
                <p>Bangalore, Karnataka, India.</p>
                <p>Phone: +91 807 227 0478 </p>
                <p>Website: www.vecan.co</p>
                <p>Email: san@vecan.co</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer top -->
  <!-- start footer bottom -->
  <div class="mu-footer-bottom">
    <div class="container">
      <div class="mu-footer-bottom-area">
        <p>&copy; All Right Reserved. Designed by <a href= "https://www.vecan.co"  style="color:#29ca8e">Vecan</a></p>
      </div>
    </div>
  </div>
  <!-- end footer bottom -->
</footer>
<!-- End footer -->